.victory {
  font-size: 2rem;
  margin-bottom: 50px;
}
.main {
  text-align: center;
}
.temperature {
  font-size: 2rem;
  color: red;
}
.packpage-title {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.packpage-subtitle {
  font-size: 1.5rem;
}

.title-instructions {
  padding: 1rem;
}
